<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SistemaSoporte"
			 connectionString= "Data Source= WINDOWS-J7BSIS4; Initial Catalog=SoporteTecnico; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>